/* otras fuentes */
@import url('https://fonts.googleapis.com/css?family=Amaranth|Asap+Condensed');
@import url('https://fonts.googleapis.com/css?family=Amaranth|Archivo+Narrow|Fira+Sans');

.hidden{
    display: none;
}

.hidden-login{
    display: none;
}

#menu{
    background-color: #2471A3;
    border-color: #2471A3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}    

.store-btn-addtocart{ 
    position: absolute; 
    right: 5px;
    top: 0px;
}

.store-article-title{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    float: left;

    font-size: 14pt;
}

.store-article-brand{
    padding-left: 5px;
    padding-right: 10px;
    margin-bottom: 5px;
    width: 50%;
    float: left;
    text-align: right;

    font-size: 11pt;
}

.store-article-img{
    min-height: 170px;
}

.store-article-seller{
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 5px;
    width: 50%;
    float: left;

    font-size: 11pt;
}

.store-article-price{
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 60%;   
    font-size: 17pt;
    font-weight: bold;
    float: left;  
}

.store-article-goto{ 
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    width: 40%; 
    text-align: right;
    float: left;
}

.white-section{
    background-color: #FBFCFC;

}

.cols-margin{
    padding-right: 5px;
    padding-left: 5px;
}

.square-panel{
    margin-top: 10px;
    border-radius: 2px;  
}

.nopadding{
    padding: 0px;
}
/* 
.dropdown-menu{
    background-color: #E2F4F7;
}
 */
.badge-white{
    background-color: #52BE80;
    color: #fff;
    margin-bottom: 10px;
    font-size: 8pt;
} 

.popover{
    width:200px;
    height:auto;    
}

.navbar-inverse .navbar-nav li a{
    background-color: transparent;
    border-style: none;
    border-color: #34495E;
    border-radius: 5px;
    border-width: 0.1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 3px;
    margin-right: 3px;
    color: #ECF0F1; 
    font-size: 13pt;
    text-decoration: none;
}

.navbar-btn {
    margin-top: 10px;
    margin-bottom: 8px;
}

.navbar-inverse .navbar-nav li a:hover{
    /*background-color: #fff;
    color: #2E4053;  */
    color: #fff;
}

.body{
    background-color: #EAEDED;
}


/* 
    Reglas para estrucuturar el sidebar y el contenedor principal 
    donde se ubica el contenido general. 
 */
.sidenav {
    height: auto;
    width: 250px;
    min-height: 600px;
    position: absolute;
    z-index: 1;
    left: 0;
    background-color: #EAEDED;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 16px;
}

.sidenav a { 
    text-decoration: none;
    font-size: 12pt;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #2471A3;
}

.sidenav .closebtn {   
    font-size: 15pt; 
    color: #000;
    padding-right: 25px;
}


#main {
    transition: margin-left .5s;
    padding-top: 16px;
    margin-left: 250px;
    min-height: 600px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; 

  }
  .sidenav a {font-size: 18px;}
}

/* 
    Reglas para el pie de pagina
 */

 
.footer-section{  
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #1C2833;
}

.footer-caption{
    margin:10px auto;
    color: white;
}

.footer-caption a{
    color: #fff;
    text-decoration: none;
    margin:15px;
}

/* Reglas para los formularios */
.input-text-box{
    background-color: #fff;
    border-radius: 0px; 
    border-color: #AEB6BF;
    font-size: 12pt;
    font-family: 'Roboto light';
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.0); 
} 

.form-control:focus { 
  box-shadow: none;
  border-width: 2px;
  border-color: #AEB6BF;

}
.input-group-addon{
    border-radius: 1px;
    background-color: transparent; 
}

.btn-success{
    background-color: transparent;
    color: #4cae4c;
    font-weight: bold;
}


/*reglas especificadas para el registro de empleados*/
.form-label{
    font-size: 12pt;
    font-family: 'Roboto light';
    margin: 0px;
}

.forms-padding{
    padding-right: 5px;
    padding-left: 5px;
}

.contenedor{
    background: url('../img/register/banner2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.square-panel-register{
    background-color: #F2F3F4;
}

.white-text{
    color: #fff;
}

.error_show{
    color: #C41E3A;
    margin-left: 20px;
    font-weight: normal;
}

/*Reglas especificadas para el registro de empresa*/
        
.square-panel-white{
    background-color: #ffffff;
}

.white-text{
            color: #fff;
        }

.tab-content-no-style{
    background-color: transparent;
    border-style: none;
}

.offers-col-selected{
    border-style: solid;
    border-color: red;
}

.offers-col-title{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: #229954;
}

.offers-col-sub-title{
    margin: 20px 15px 10px 30px;
    font-family: 'Roboto Light';
    font-size: 13pt;
}

.offers-col-description{
    margin: 50px 15px 50px 30px;
    font-family: 'Roboto Regular';
    font-size: 12pt;
}

.offers-col-prize{
    margin: 20px 20px 10px 20px;
    padding: 15px; 
    font-size: 25pt;
    font-family: 'Roboto Regular';
    font-weight: bold;
    text-align: center;
}

.offers-col-test-caption{
    margin:20px 20px 20px 20px;
}

.btn-try: hover{
    background-color: #FA7728;
    color: #FA7728;
    font-weight: bold;
    border-color: #FA7728;
    border-radius: 2px;
    color: white;
}

.div-bar{
    border-width: 2px;
    border-style: solid;
}

.btn-warning-register{
    background-color: transparent;
    color: #FA7728;
    font-weight: bold;
    border-color: #FA7728;
    border-radius: 2px;
}




.google-maps {
    position: relative;
    padding-bottom: 55%; 
    height: 0;
    overflow: hidden;
}


/* reglas para la cinta de resumen */

.marcador{
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    padding: 10px;
    position:fixed;
    bottom: 0px;
    background-color: #F2F4F4;
}

.marcador-casilla{
    margin:4px;
    padding: 8px;
    height: auto;
    width: auto;
    background-color:#CDD0D3 ;
    border-radius: 1px;
    border-color:#D3D6DA ; 
}

.badge-marcador{
    background-color: #229954; 
    font-size: 10pt;
}

.marcador-numer{
    font-size: 12pt;  
    text-align: right;
    font-weight: bold;
}



/* Reglas para el carrito de compras */
.cart-offer-img{
    min-width: 30%;
    width: 30%;
}

.cart-offer-detail{
    min-width: 70%;
    width: 70%;
}

.cart-offer-title{
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0px;
    margin-bottom: 5px; 
    float: left;
    font-size: 15pt;  
    text-align: left; 
    width: 100%;
    height: 45px;
    font-family: 'Asap Condensed', sans-serif;
}

.cart-offer-title-sm{
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0px;
    margin-bottom: 5px; 
    float: left;
    font-size: 12pt;  
    text-align: left; 
    width: 100%;
    height: 45px;
    font-family: 'Asap Condensed', sans-serif;
}

.cart-offer-vendor{
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0px; 
}

.cart-offer-price{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    bottom: 0px;
    float: left;
    font-size: 15pt;  
    text-align: right;
    font-weight: bold;
}

.cart-offer-badge{
    font-size: 10px;
    border-radius: 4px;
}

.cart-offer-badge-off{
    font-size: 11px;
    border-radius: 4px;
    background-color: #F39407;
}

.cart-offer-options{
    width:100%;
    float: left;
    bottom: 0px;
    padding: 5px;
}

.flotante{ 
    position: absolute;
    padding: 5px;
    margin: 10px;
    transform: scale(2);
    margin-top:20px;
    margin-left: 10px;
    right: 15px;
}

.cart-offer-price-sm{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    bottom: 0px;
    float: left;
    font-size: 12pt;  
    text-align: right;
    font-weight: bold;
}
.offer-select{
    padding: 5px;
}

/* Marcador de cuenta */

.billbox-container{
    height: auto;
    margin-bottom: 0px;
    position:fixed;
    bottom: 0px;
    right: 5px;
    background-color: #F2F4F4;
    width: 320px; 
    z-index: 20;
}

.billbox-panel{
    margin-bottom: 0px;
}
 
.toolbar{
    float: right;
}